footer {
    background-color: #22211f;
    padding: 150px 0 8px;
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 100%, 0% 50%);
    color: #ffffff96;
    font-family: 'Roboto', sans-serif;
    margin-top: -90px;
    h4 {
        margin: 0 0 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 31px;
    line-height: 36px;
    color: #FFFFFF;
    }
     p {
        font-family: Roboto;
        font-style: normal;
        font-size: 16.268px;
        line-height: 19px;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            a {
                color: #ffffff96;
                &:hover {
                    color: #C6B797;
                }
            }
            b {
                display: block;
                letter-spacing: 1px;
            }
        }
    }
.ftr-links li {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
     i {
            position: absolute;
            left: 0;
            top: 7px;
            font-size: 18px;
    }
}
.ftr-cntc li {
    padding-left: 31px;
    margin: 0 0 10px;
    line-height: 22px !important;
}

.ftr-news form {
    position: relative;
    margin-top: 33px;
input {
    width: 100%;
    border: 1px solid #ffffff96;
    background-color: transparent;
    color: #ffffff96;;
    padding: 12px 18px;
    border-radius: 30px;
}
button {
    position: absolute;
    right: 0;
    border: none;
    background-color: #C6B797;
    color: #000;
    padding: 8.5px 17px;
    font-size: 22px;
    border-radius: 30px;
}
}
.ftr-news ul {
    margin-top: 20px;
    li {
        display: inline-block;
        font-size: 20px;
        margin-right: 13px;
    }
}
.copyrit {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #fff3;
    padding-top: 23px;
}
}
