.our-partnr {
    text-align: center;
    padding: 50px 0;
    img {
        margin: 0 auto;
    }
    .partnr-title {
        margin: 0 0 50px;
        h3 {
            font-size: 50px;
            color: #252424;
            margin: 0;
        }
    }
}
